#container {
    background-image: url('../assets/images/volcan4.jpeg'); /* Verifica que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Ocupará toda la pantalla */
    width: 100vw; /* Ocupa todo el ancho del viewport */
    min-height: 105vh; /* Ocupa al menos el alto del viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;  /* Fija el fondo respecto a la ventana */
    top: 0;
    left: 0;
}

#titulo {
  color: #246418;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem; /* Reducir margen inferior */
  margin-top: -300px; 
}

.formulario {

  width: 250px;
  padding: 8px;
  margin: 15px 0;
  border: 2px solid #48bb78;
  border-radius: 6px;
  font-size: 14px;
}

.buttom {
  background-color: #48bb78;
  color: rgb(20, 8, 8);
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}