
.contenedor-principal{
    background-image: url('../../public/static/paisaje1.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 130vh; 
    width: 100vw; 
    min-height: 50vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute; 
    top: 0;
    left: 0;
    
}

.titulo-poema{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px; 

    
}
.subtituloPoemasDibujos {
    text-align: center;
    padding-top: 25px;
    color: #033949;
    margin-inline : 100px; 
}

.poemas-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}
  
.poema-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
} 

.poema-titulo {
    font-size: 1.5em;
    color: #3aa871;
    margin-bottom: 10px;
}

.boton-visualizacion {
    border-radius: 10px;
    background-color: #2e7d32;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.boton-visualizacion:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #388e3c;
}

.contenedor-principal {
    padding: 20px;
}

.dibujos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dibujos-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.imagen-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.dibujo-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.dibujo-imagen:hover {
    transform: scale(1.05);
}

.dibujo-info {
    padding: 15px;
}

.dibujos-titulo {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
}

.dibujos-autor, .dibujos-fecha {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}
