


.ranking-container {
    background-image: url('../assets/images/volcan3.jpg'); /* Verifica que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 130vh; /* Ocupará toda la pantalla */
    width: 100vw; /* Ocupa todo el ancho del viewport */
    min-height: 50vw; /* Ocupa al menos el alto del viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;  /* Fija el fondo respecto a la ventana */
    top: 0;
    left: 0;
    
}


.ranking-title {
    font-size: 4rem;
    font-weight: bold;
    color: #175732;
    margin-bottom: 1rem; /* Reducir margen inferior */
    margin-top: -200px; /* Elevarlo hacia arriba */
}

.ranking-subtitle {
    font-size: 2rem; 
    color: #175732;
    margin-bottom: 1.5rem; 
}

.ranking-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.ranking-card {
    background-color: rgb(208, 255, 202);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    border: 2px solid #52b788;
    height: 150px;
    width: 400px;
}


.ranking-card:hover {
    transform: translateX(10px);
}

.user-header {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-bottom: 0.5rem; 
}

.position {
    font-size: 2rem; 
    color: #4b5563;
}

.username {
    font-weight: 500;
    color: #1f2937;
    font-size: 1.5rem;
}

.user-details {
    margin-left: 2.5rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.points {
    font-size: 2rem; 
    color: #4b5563;
}

.streak {
    font-size: 1.5rem; 
    color: #f97316;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}